@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
body,head,html{
  margin:0;
  padding:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family:arial;
  max-width:100%;
  max-height:100%;
  overflow-x: hidden;
  background:#2a2a2d;
}
.preto{
  background:#1c1c1c;
}
#modal{
  z-index:90;
  display:none;
  position:fixed;
  width:100%;
  height:100%;
}
#cmodal{
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.ctnmodal{
  position:fixed;
  top:calc(50% - 80px);
  left:calc(50% - 150px);
  border:1px solid #777;
  width:300px;
  background:#424242;
  max-width:300px;
  height:160px;
  text-align:center;
}
.ctnmodal span{
  display:block;
  padding:12px;
  color:#fff;
  border-bottom:1px solid #777;
}
.ctnmodal input{
  text-align:center;
  display:block;
  margin:auto;
  margin-top:18px;
  width:calc(140px - 5px);
  font-size:17px;
  padding:5px;
  border-radius:3px;
  border:1px solid #ccc;
  font-family: 'Roboto Mono', monospace;
}
.ctnmodal button{
  border-radius:3px;
  margin-top:17px;
  border:1px solid #aaa;
  padding:8px 12px;
  color:#fff;
  font-size:14px;
  background:#44a965;
}
.ctnmodal input::-webkit-outer-spin-button,
.ctnmodal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
.ctnmodal input[type=number] {
  -moz-appearance:textfield;
}
.header{
  box-sizing:border-box;
  z-index:90;
  color:#fff;
  text-transform: uppercase;
  height:50px;
  border-bottom:1px solid #444;
}
.verde{
  background:#44a965;
}
.roxo{
  background:#25003e;
}
.header:after{
  content:"";
  clear:both;
  display:table;
}
.container{
  display:grid;
  width: 99.9%;
  grid-auto-rows: 80px;
}
.btnbarra{
  z-index:99;
  position:absolute;
  top:0;
  right:0;
  background:#44a965;
  border:none;
  color:#fff;
  padding:17px;
  cursor:pointer;
}
.btnbarranf{
  z-index:99;
  cursor:pointer;
  background:none;
  border:none;
  color:#fff;
  padding:15.5px 45.5px 17.5px 12px;
  font-size:15px;
  outline: none;
}
.btnbarranf:focus{
  outline: none;
}
.btnbarra span{
  font-size:14px;
}
.margin-right5{
  margin-right:5px;
}
.conversas{
  position:relative;
  border-bottom:1px solid #717171;
  cursor:pointer;
  overflow: hidden;
}
.perfil{
  display:inline-block;
  border-radius:50%;
  border:1px solid #ccc;
  width: 50px;
  height: 50px;
  margin: 12px;
  background-size:100%;
}
.nome{
  color:#fff;
  position:absolute;
  top:15px;
  display:inline-block;
  font-size:15px;
}
.mensagem{
  position:absolute;
  top:40px;
  max-width:600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#e8e8e8;
  display:inline-block;
}
.perfilcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 25px;
  border-radius: 50%;
  background-size: 100%;
}
.data{
  position:absolute;
  top:32px;
  right:12px;
  color:#555;
  padding:8px;
  background:#2a2a2d;
  display:inline-block;
  box-shadow: 0 0 10px 20px #2a2a2d;
}
.nomeapp{
  position:absolute;
  left:15px;
}
.textotop{
  position:absolute;
  left:32px;
  display:inline-block;
  top:17px;
} 
.fa-envelope{
  position:absolute;
  top:13px;
  font-size: 23px
}
.fa-check, .fa-check-double{
  font-size:10px;
  color:#aaa;
}
.visto{
  color:lightskyblue;
}
.wincon{
  z-index:80;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100% - 0px);
  visibility: hidden;
}
.escbox{
  position:absolute;
  bottom:8px;
  background:#fff;
  width:calc(100% - 121px);
  padding:15px;
  /*background:rgba(0,0,0,.5);*/
  border-radius:23px 23px;
  display:none;
  grid-template-columns:auto auto;
  overflow:auto;
}
.esc{
  padding:15px;
}
.esc:first-child{
  border-right:1px solid #ddd;
}
.esc:last-child{
  border-left:1px solid #ddd;
}
.barra-de-msg{
  width:100%;
  position:absolute;
  padding:8px;
  bottom:0;
}
.barrinha{
  display:inline-block;
  border-radius:23px;
  width:calc(100% - 113px);
  padding:15px 19px;
  background:#fff;
  color:#555;
}
.botao-de-envio{
  position:absolute;
  top:8px;
  display:inline-block;
  border-radius:50%;
  background:#44a965;
  color:#fff;
  font-size:18px;
  padding:15px 17.5px 13px 13.5px;
  margin-left:10px;
}
.dialogos{
  padding:10px;
  max-height:calc(100% - 132px);
  overflow-y:auto;
}
.dialogos div:after{
  content: '';
  display: table;
  clear: both;
}
.msg{
  max-width:46%;
  padding:8px;
  font-size:15px;
  border:1px solid #ddd;
  margin:10px;
  border-radius:6px;
  transition:.2s;
}
.msg:active{
  transition:2s;
  -moz-box-shadow: 0 0 13px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 13px -3px rgba(0,0,0,0.2);
  box-shadow: 0 0 13px -3px rgba(0,0,0,0.4);
  transform: scale3d(1.03, 1.03, 1);
}
.dialogos div:first-child .msg{
  margin-top:10px;
}
.dialogos div:last-child .msg{
  margin-bottom:10px;
}
.esq{
  background:#eee;
  float:left;
}
.dir{
  background: #44a965;
  color:#fff;
  float:right;
}
.ncon{
  position:absolute;
  top:0;
  left:calc(50% - 65.5px);
  text-align:center;
  width:120px;
  font-size:16px;
  padding:15.5px;
  text-transform:initial;
}
.prealfa{
  position:fixed;
  top: calc(50% - 75px);
  left: calc(50% - 140px);
  max-width: 240px;
  background:purple;
  color:#fff;
  font-size:17px;
  padding:20px;
}
.prealfa div{
  text-align: center;
  background: rgba(255,255,255,0.1);
  padding: 5px;
}
.telafull{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}
.digitando {
  color:#fff;
  display: none;
  position: absolute;
  left: 13px;
  font-size: 13px;
  bottom: 76px;
  background: #2a2a2d;
  box-shadow: 0 0 10px 5px #2a2a2d;
}
.detalhes {
  z-index:500;
  visibility:hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
  background:#2a2a2d;
}
.container-detalhes{
  position:fixed;
  top:50px;
  left:0;
  height:calc(100% - 50px);
  width:100%;
  overflow-y:auto;
}
.imagem-detalhes{
  margin:25px 0;
}
.imagem-detalhes div{
  border-radius:50%;
  border:1px solid #ddd;
  margin:auto;
  width:250px;
  height:250px;
}
.nome-detalhes{
  text-align:center;
  margin:25px 0;
  font-size:20px;
  color:#fff;
}
.mais-detalhes{
  margin:10px;
  background: #eee;
  padding:10px;
  color:#333;
}
.mais-detalhes div{
  display:grid;
  grid-template-columns:90px 150px;
}
.mais-detalhes div span{
  padding:10px 0;
}
.mais-detalhes div span:last-child{
  padding:10px;
}
.mais-detalhes div span:first-child{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  text-align:center;
}
.mais-detalhes div:last-child span:first-child{
  border-bottom:none
}